@font-face {
	font-family: FavoritLight;
	src: url('../assets/fonts/ABCFavorit-Light-Trial.otf');
}

@font-face {
	font-family: FavoritBook;
	src: url('../assets/fonts/ABCFavorit-Book-Trial.otf');
}

body {
	font-family: FavoritBook, serif;
	font-size: 2.4em;
}

#title {
	font-size: 1.4em;
}

.about {
	font-size: 0.6em;
}

.gentext {
	position: relative;
	top: 20pt;
	left: 36pt;
}

.gentext p {
	/*font-family: FavoritLight, serif;*/
	font-size: 0.52em;
	line-height: 1.1;
	writing-mode: vertical-rl;
	transform: scale(-1);
	margin: 30px auto;
	height: 215px;
}

.grid {
	position: relative;
	top: 15pt;
}

.grid img {
	display: block;
	margin: 25px auto;
	width: 225px;
	height: 225px;
	/*vertical-align: middle;*/
}

.📖-page-background {
	/*background-color: #003153;*/
}

.📖-zoom-content,
.📖-root {
	/* background-color: black!important; */
	/* background-color: #FFF7EB!important; */
	background-color: #6B6B68;
}

div.📖-select-wrap,
button {
	 display: none !important; 
}