@font-face {
	font-family: PlayfairDisplay-Regular;
	src: url('../assets/fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
	font-family: PlayfairDisplay-Italic;
	src: url('../assets/fonts/PlayfairDisplay-Italic.ttf');
}

html, body {
	height: 100%;
}

body {
	background-color: #0A2753;
	font-family: PlayfairDisplay-Regular;
	font-size: 1.6em;
	color: white;
}

.center {
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	height: 100%;
}

.center p {
	width: 50%;
}

a:link,
a:visited {
	color: #f0b86e;
}