@font-face {
	font-family: PlayfairDisplay-Regular;
	src: url('../assets/fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
	font-family: PlayfairDisplay-Medium;
	src: url('../assets/fonts/PlayfairDisplay-Medium.ttf');
}

@font-face {
	font-family: PlayfairDisplay-Italic;
	src: url('../assets/fonts/PlayfairDisplay-Italic.ttf');
}

body {
	font-family: PlayfairDisplay-Regular, serif;
	letter-spacing: 0.03em;
	color: white;
	font-size: 2.2em;
}

a:link,
a:visited {
	color: #f0b86e;
}

#content {
	/*display: none!important;*/
}

.gif {
	position: relative;
	bottom: 124pt;
}

#loading-overlay {
    position: absolute;
    background-color: #003153;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    /* transition: 1s opacity; */
    -webkit-transition: opacity 1.5s ease-in-out;
    -moz-transition: opacity 1.5s ease-in-out;
    -ms-transition: opacity 1.5s ease-in-out;
    -o-transition: opacity 1.5s ease-in-out;

    opacity: 1;
    color: white;
    font-size: 2.2em;
  }

#loading-overlay p {
	text-decoration: underline;
	cursor: pointer;
	font-family: PlayfairDisplay-Italic;
	font-size: 0.3em;
}

.hide {
    opacity: 0!important;
    z-index: -1;
    pointer-events: none;
    /* display: none!important; */
  }

.region-content {
	font-size: 0.6em;
	top: 290pt;
	width: 320pt;
	left: 14pt;
}

.region-content #frontCover {
	font-family: PlayfairDisplay-Medium, sans-serif;
	/*letter-spacing: 0.1em;*/
	position: absolute;
	font-size: 0.65em;
	left: 142pt;
	bottom: 200pt;
}



#frontCover {
}

#frontCover h1 {
	position: relative;
	top: 10pt;
}

#frontCover p {
	font-family: PlayfairDisplay-Italic;
	position: relative;
	top: 280pt;
	right: 8pt;
}

#intro {
	position: relative;
	top: 204pt;
	left: 352pt;
	font-size: 0.7em;
}

#intro h2 {
	font-family: PlayfairDisplay-Medium;
	font-size: 0.9em;
}

#intro p {
	font-family: PlayfairDisplay-Regular;
	font-size: 0.8em;
}

#acknow {
	position: relative;
	bottom: 136pt;
	left: 26pt;
	font-size: 0.72em;
}

#video {
	position: relative;
	bottom: 188pt;
	left: 24pt;
	/*left: 50pt;*/
}

#custom-01 {
	position: relative;
	left: 4pt;
	top: 4pt;
	/*bottom: 4pt;*/
}

#custom-01 img {
	width: 750px;
	height: 750px;
}

#custom-01 p {
	position: relative;
	font-size: 0.52em;
	bottom: 284pt;
	left: 596pt;
}

#custom-02 {
	position: relative;
	left: 274pt;
	top: 44pt;
}

#custom-02 img {
	width: 450px;
	height: 450px;
}

#custom-03 {

}

#custom-03 p {
	font-size: 0.52em;
	position: relative;
	bottom: 654pt;
	left: 50pt;
}

#custom-04 {
	position: relative;
	left: 374pt;
	top: 48pt;
}

#custom-04 img {
	width: 450px;
	height: 450px;
}

#custom-04 #excerpts p {
	font-size: 0.52em;
	position: relative;
	bottom: 340pt;
	right: 156pt;
}

#custom-05 {
	position: relative;
	left: 172pt;
	top: 68pt;
}

#custom-05 img {
	width: 440px;
	height: 440px;
}

#custom-06 {
	position: absolute;
	bottom: 4pt;
	/*bottom: 12pt;*/
	/*left: 12pt;*/
	/*right: 24pt;*/
	/*bottom: 36pt;*/
}

#custom-06 img {
	width: 1175px;
	height: 1175px;
}

#custom-07 {
	position: relative;
	/*bottom: 500pt;*/
	/*left: 30pt;*/
	/*bottom: 242pt;*/
}

#custom-07 img {
	width: 100%;
	height: 100%;
}

#custom-08 img {
	width: 100%;
	height: 100%;
}

#custom-09 {
	/*position: relative;*/
	/*left: 200pt;*/
}

#custom-09 img {
	width: 100%;
	height: 100%;
}

#custom-10 {
	position: relative;
	left: 400pt;
	/*right: 128pt;*/
	/*bottom: 56pt;*/
}

#custom-10 img {
	width: 650px;
	height: 650px;
/*	width: 300px;
	height: 300px;*/
}

#custom-11 img {
	width: 100%;
	height: 100%;
}

#custom-12 img {
	width: 100%;
	height: 100%;
}

#custom-13 {
	position: relative;
	left: 412pt;
	top: 74pt;
}

#custom-13 img {
	width: 390px;
	height: 390px;
}

#custom-14 {
	position: relative;
	left: 244pt;
	top: 124pt;
}

#custom-14 img {
	width: 380px;
	height: 380px;
}

#custom-15 {
	
}

#custom-15 img {
	width: 1200px;
	height: 1200px;
}

#custom-16 {
	position: relative;
	left: 550pt;
	top: 114pt;
}

#custom-16 img {
	width: 300px;
	height: 300px;
}

#custom-17 {
	position: relative;
}

#custom-17 img {

}

#custom-17 p {
	font-size: 0.52em;
	position: relative;
	bottom: 312pt;
	left: 84pt;
}

#custom-18 {
	position: relative;
}

#custom-18 img {

}

#custom-18 p {
	font-size: 0.52em;
	position: relative;
	bottom: 136pt;
	left: 54pt;
}
/*#custom-09 {
	position: relative;
	right: 124pt;
	bottom: 56pt;
}

#custom-09 img {
	width: 225px;
	height: 225px;
}*/

img {
	width: 100%;
	height: 100%;
}

.📖-page-background {
	background-color: #0A2753;
}

.📖-zoom-content,
.📖-root {
	/* background-color: black!important; */
	 background-color: #C3D3DE!important; 
}

div.📖-select-wrap,
button {
	 display: none !important; 
}