---
import FlexContainer from '../components/FlexContainer';
import Dialog from '../components/Dialog';
import { ChevronUpIcon } from '@radix-ui/react-icons';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <FlexContainer className='xs:flex-col xs:h-screen xs:items-center'>
      <FlexContainer className='xs:h-full xs:justify-center xs:items-center'>
        <div class='xs:w-full sm:w-6/12 px-4'>
          <p class='text-4xl text-justify'>
            Tristan Espinoza is an artist and developer based in Los Angeles.
          </p>
        </div>
      </FlexContainer>
      <FlexContainer className='xs:flex-col xs:items-center xs:mb-4'>
        <!-- <ChevronUpIcon /> -->
        <Dialog client:load>
          <ul
            class='flex flex-col items-center w-screen h-screen space-y-10 pt-4 overflow-y-scroll'
          >
            <li class='border border-black px-24 py-8 text-6xl'>Work 1</li>
            <li class='border border-black px-24 py-8 text-6xl'>Work 2</li>
            <li class='border border-black px-24 py-8 text-6xl'>Work 3</li>
            <li class='border border-black px-24 py-8 text-6xl'>Work 4</li>
            <li class='border border-black px-24 py-8 text-6xl'>Work 5</li>
            <li class='border border-black px-24 py-8 text-6xl'>Work 6</li>
          </ul>
        </Dialog>
        <!-- <p>Index</p> -->
      </FlexContainer>
    </FlexContainer>
  </body>
</html>
